MVC3/Service References/SLRace/SLRace.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/DomainModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DomainModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:60162/SLRace.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="Race">
    <xs:sequence>
      <xs:element minOccurs="0" name="code" type="ser:char" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Race" nillable="true" type="tns:Race" />
  <xs:complexType name="ArrayOfRace">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Race" nillable="true" type="tns:Race" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRace" nillable="true" type="tns:ArrayOfRace" />
</xs:schema>