MVC3.Tests/Service References/SLGame/SLGame3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/DomainModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DomainModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:60162/SLGame.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="Game">
    <xs:sequence>
      <xs:element minOccurs="0" name="downloadCount" type="xs:int" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="length" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="map" nillable="true" type="tns:Map" />
      <xs:element minOccurs="0" name="matchup" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="player1" nillable="true" type="tns:Player" />
      <xs:element minOccurs="0" name="player1_race" nillable="true" type="tns:Race" />
      <xs:element minOccurs="0" name="player1_statistic" nillable="true" type="tns:Statistic" />
      <xs:element minOccurs="0" name="player2" nillable="true" type="tns:Player" />
      <xs:element minOccurs="0" name="player2_race" nillable="true" type="tns:Race" />
      <xs:element minOccurs="0" name="player2_statistic" nillable="true" type="tns:Statistic" />
      <xs:element minOccurs="0" name="time" type="xs:dateTime" />
      <xs:element minOccurs="0" name="winner" nillable="true" type="tns:Player" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Game" nillable="true" type="tns:Game" />
  <xs:complexType name="Map">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="size" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="spawns" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Map" nillable="true" type="tns:Map" />
  <xs:complexType name="Player">
    <xs:sequence>
      <xs:element minOccurs="0" name="code" type="xs:int" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="league" nillable="true" type="tns:League" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="race" nillable="true" type="tns:Race" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Player" nillable="true" type="tns:Player" />
  <xs:complexType name="League">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="League" nillable="true" type="tns:League" />
  <xs:complexType name="Race">
    <xs:sequence>
      <xs:element minOccurs="0" name="code" type="ser:char" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Race" nillable="true" type="tns:Race" />
  <xs:complexType name="Statistic">
    <xs:sequence>
      <xs:element minOccurs="0" name="apm" type="xs:int" />
      <xs:element minOccurs="0" name="game" nillable="true" type="tns:Game" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="player" nillable="true" type="tns:Player" />
      <xs:element minOccurs="0" name="resources" type="xs:int" />
      <xs:element minOccurs="0" name="structures" type="xs:int" />
      <xs:element minOccurs="0" name="units" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Statistic" nillable="true" type="tns:Statistic" />
  <xs:complexType name="ArrayOfGame">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Game" nillable="true" type="tns:Game" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGame" nillable="true" type="tns:ArrayOfGame" />
</xs:schema>