MVC3/Service References/SLLeague/SLLeague1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DomainModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DomainModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="League">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="League" nillable="true" type="tns:League" />
  <xs:complexType name="ArrayOfLeague">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="League" nillable="true" type="tns:League" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLeague" nillable="true" type="tns:ArrayOfLeague" />
</xs:schema>