MVC3/Service References/SLLeague/SLLeague.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SLLeague" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:60162/SLLeague.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:60162/SLLeague.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:60162/SLLeague.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:60162/SLLeague.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DomainModel" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISLLeague_GetLeague_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLeague" />
  </wsdl:message>
  <wsdl:message name="ISLLeague_GetLeague_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLeagueResponse" />
  </wsdl:message>
  <wsdl:message name="ISLLeague_InsertLeague_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertLeague" />
  </wsdl:message>
  <wsdl:message name="ISLLeague_InsertLeague_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertLeagueResponse" />
  </wsdl:message>
  <wsdl:message name="ISLLeague_UpdateLeague_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateLeague" />
  </wsdl:message>
  <wsdl:message name="ISLLeague_UpdateLeague_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateLeagueResponse" />
  </wsdl:message>
  <wsdl:message name="ISLLeague_DeleteLeague_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteLeague" />
  </wsdl:message>
  <wsdl:message name="ISLLeague_DeleteLeague_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteLeagueResponse" />
  </wsdl:message>
  <wsdl:message name="ISLLeague_GetLeagueList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLeagueList" />
  </wsdl:message>
  <wsdl:message name="ISLLeague_GetLeagueList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLeagueListResponse" />
  </wsdl:message>
  <wsdl:portType name="ISLLeague">
    <wsdl:operation name="GetLeague">
      <wsdl:input wsaw:Action="http://tempuri.org/ISLLeague/GetLeague" message="tns:ISLLeague_GetLeague_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISLLeague/GetLeagueResponse" message="tns:ISLLeague_GetLeague_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertLeague">
      <wsdl:input wsaw:Action="http://tempuri.org/ISLLeague/InsertLeague" message="tns:ISLLeague_InsertLeague_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISLLeague/InsertLeagueResponse" message="tns:ISLLeague_InsertLeague_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateLeague">
      <wsdl:input wsaw:Action="http://tempuri.org/ISLLeague/UpdateLeague" message="tns:ISLLeague_UpdateLeague_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISLLeague/UpdateLeagueResponse" message="tns:ISLLeague_UpdateLeague_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteLeague">
      <wsdl:input wsaw:Action="http://tempuri.org/ISLLeague/DeleteLeague" message="tns:ISLLeague_DeleteLeague_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISLLeague/DeleteLeagueResponse" message="tns:ISLLeague_DeleteLeague_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLeagueList">
      <wsdl:input wsaw:Action="http://tempuri.org/ISLLeague/GetLeagueList" message="tns:ISLLeague_GetLeagueList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISLLeague/GetLeagueListResponse" message="tns:ISLLeague_GetLeagueList_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISLLeague" type="tns:ISLLeague">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetLeague">
      <soap:operation soapAction="http://tempuri.org/ISLLeague/GetLeague" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertLeague">
      <soap:operation soapAction="http://tempuri.org/ISLLeague/InsertLeague" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateLeague">
      <soap:operation soapAction="http://tempuri.org/ISLLeague/UpdateLeague" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteLeague">
      <soap:operation soapAction="http://tempuri.org/ISLLeague/DeleteLeague" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLeagueList">
      <soap:operation soapAction="http://tempuri.org/ISLLeague/GetLeagueList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SLLeague">
    <wsdl:port name="BasicHttpBinding_ISLLeague" binding="tns:BasicHttpBinding_ISLLeague">
      <soap:address location="http://localhost:60162/SLLeague.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>