MVC3/Service References/SLPlayer/SLPlayer.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SLPlayer" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:60162/SLPlayer.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:60162/SLPlayer.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:60162/SLPlayer.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:60162/SLPlayer.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DomainModel" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISLPlayer_GetPlayer_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayer" />
  </wsdl:message>
  <wsdl:message name="ISLPlayer_GetPlayer_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayerResponse" />
  </wsdl:message>
  <wsdl:message name="ISLPlayer_InsertPlayer_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertPlayer" />
  </wsdl:message>
  <wsdl:message name="ISLPlayer_InsertPlayer_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertPlayerResponse" />
  </wsdl:message>
  <wsdl:message name="ISLPlayer_UpdatePlayer_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePlayer" />
  </wsdl:message>
  <wsdl:message name="ISLPlayer_UpdatePlayer_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePlayerResponse" />
  </wsdl:message>
  <wsdl:message name="ISLPlayer_DeletePlayer_InputMessage">
    <wsdl:part name="parameters" element="tns:DeletePlayer" />
  </wsdl:message>
  <wsdl:message name="ISLPlayer_DeletePlayer_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeletePlayerResponse" />
  </wsdl:message>
  <wsdl:message name="ISLPlayer_GetPlayerList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayerList" />
  </wsdl:message>
  <wsdl:message name="ISLPlayer_GetPlayerList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayerListResponse" />
  </wsdl:message>
  <wsdl:portType name="ISLPlayer">
    <wsdl:operation name="GetPlayer">
      <wsdl:input wsaw:Action="http://tempuri.org/ISLPlayer/GetPlayer" message="tns:ISLPlayer_GetPlayer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISLPlayer/GetPlayerResponse" message="tns:ISLPlayer_GetPlayer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertPlayer">
      <wsdl:input wsaw:Action="http://tempuri.org/ISLPlayer/InsertPlayer" message="tns:ISLPlayer_InsertPlayer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISLPlayer/InsertPlayerResponse" message="tns:ISLPlayer_InsertPlayer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePlayer">
      <wsdl:input wsaw:Action="http://tempuri.org/ISLPlayer/UpdatePlayer" message="tns:ISLPlayer_UpdatePlayer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISLPlayer/UpdatePlayerResponse" message="tns:ISLPlayer_UpdatePlayer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeletePlayer">
      <wsdl:input wsaw:Action="http://tempuri.org/ISLPlayer/DeletePlayer" message="tns:ISLPlayer_DeletePlayer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISLPlayer/DeletePlayerResponse" message="tns:ISLPlayer_DeletePlayer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPlayerList">
      <wsdl:input wsaw:Action="http://tempuri.org/ISLPlayer/GetPlayerList" message="tns:ISLPlayer_GetPlayerList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISLPlayer/GetPlayerListResponse" message="tns:ISLPlayer_GetPlayerList_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISLPlayer" type="tns:ISLPlayer">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPlayer">
      <soap:operation soapAction="http://tempuri.org/ISLPlayer/GetPlayer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertPlayer">
      <soap:operation soapAction="http://tempuri.org/ISLPlayer/InsertPlayer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePlayer">
      <soap:operation soapAction="http://tempuri.org/ISLPlayer/UpdatePlayer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePlayer">
      <soap:operation soapAction="http://tempuri.org/ISLPlayer/DeletePlayer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPlayerList">
      <soap:operation soapAction="http://tempuri.org/ISLPlayer/GetPlayerList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SLPlayer">
    <wsdl:port name="BasicHttpBinding_ISLPlayer" binding="tns:BasicHttpBinding_ISLPlayer">
      <soap:address location="http://localhost:60162/SLPlayer.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>